

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(139, 139, 139);
}

.bildSeitenleiste{
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 50%;
    height: 100%;
}


.element{
    height: 500px;
    width: 40%;
}

.container{
    padding-left: 15%
}

.profile{
    position: fixed;
    bottom: 100px;
    left: -25px;
    transform: rotate(-90deg);
}