.fadeIn{
    opacity: 1;
    transition: opacity 2s linear;
}

.bild1{
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
  
   
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.bild1::before{
    content: "";
    background: url("/img/design/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild11, .bild13, .bild14, .bild15, .bild16{
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;

}


.bild11::before{
    content: "";
    background: url("img/html/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild13::before{
    content: "";
    background: url("img/js/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}


.bild14::before{
    content: "";
    background: url("img/konzept/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild15::before{
    content: "";
    background: url("img/gui/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild16::before{
    content: "";
    background: url("img/remote/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild2, .bild3, .bild4, .bild5, .bild6, .bild21, .bild31, .bild41, .bild51, .bild61, .bild22, .bild32, .bild42, .bild52, .bild62, 
.bild23, .bild33, .bild43, .bild53, .bild63, .bild24, .bild34, .bild44, .bild54, .bild64,  .bild25, .bild35, .bild45, .bild55, .bild65, .bild26, .bild36, .bild46, .bild56, .bild66{
    position: relative;
}

.bild2::before{
    content: "";
    background: url("img/design/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild21::before{
    content: "";
    background: url("img/html/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild22::before{
    content: "";
    background: url("img/ae/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild23::before{
    content: "";
    background: url("img/js/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild24::before{
    content: "";
    background: url("img/konzept/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild25::before{
    content: "";
    background: url("img/gui/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild26::before{
    content: "";
    background: url("img/remote/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}





.bild3::before{
    content: "";
    background: url("img/design/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild31::before{
    content: "";
    background: url("img/html/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild32::before{
    content: "";
    background: url("img/ae/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild33::before{
    content: "";
    background: url("img/js/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild34::before{
    content: "";
    background: url("img/konzept/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}


.bild35::before{
    content: "";
    background: url("img/gui/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild36::before{
    content: "";
    background: url("img/remote/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild4::before{
    content: "";
    background: url("img/design/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild41::before{
    content: "";
    background: url("img/html/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild43::before{
    content: "";
    background: url("img/js/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild44::before{
    content: "";
    background: url("img/konzept/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild45::before{
    content: "";
    background: url("img/gui/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild46::before{
    content: "";
    background: url("img/remote/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild5::before{
    content: "";
    background: url("img/design/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}



.bild51::before{
    content: "";
    background: url("img/html/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild53::before{
    content: "";
    background: url("img/js/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild54::before{
    content: "";
    background: url("img/konzept/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild55::before{
    content: "";
    background: url("img/gui/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild56::before{
    content: "";
    background: url("img/remote/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}


.bild6::before{
    content: "";
    background: url("img/design/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild61::before{
    content: "";
    background: url("img/html/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild63::before{
    content: "";
    background: url("img/js/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild64::before{
    content: "";
    background: url("img/konzept/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild65::before{
    content: "";
    background: url("img/gui/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}


.bild66::before{
    content: "";
    background: url("img/remote/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild7, .bild71, .bild72, .bil73, .bild74, .bild76{
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
}

.bild75{
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
}

.bild7::before{
    content: "";
    background: url("img/design/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild71::before{
    content: "";
    background: url("img/html/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild73::before{
    content: "";
    background: url("img/js/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild74::before{
    content: "";
    background: url("img/konzept/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild75::before{
    content: "";
    background: url("img/gui/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.bild76::before{
    content: "";
    background: url("img/remote/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
