* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Montserrat;
}

h2 {
  font: normal normal bold 23px/28px Montserrat;
}

p {
  font-size: 12px;
}

body {
  background-image: linear-gradient(118deg, #403E38 0%, #373732 59%, #292824 100%);
}

.container {
  margin: 0% 10% 0% 10%;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

#gerate circle {
  transition: all ease 0.5s;
  cursor: pointer;
}

#gerate #router-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 440, 330);
}

#gerate #echo-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 623, 516);
}

#gerate #macBook-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 623, 557);
}

#gerate #laptop-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 867, 374);
}

#gerate #iPhone-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 448, 738);
}

#gerate #samsung-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 763, 36);
}

#gerate #fridge-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 618, 236);
}

#gerate #iPad-2:hover {
  transform: matrix(1.5, 0, 0, 1.5, 435, 137);
}

#Heatmap path {
  transition: all ease 0.3s;
}

#Heatmap path:hover {
  stroke-width: 9px;
}

.seitenleiste {
  display: grid;
  margin: 3em 0 4em 0;
  text-align: center;
  justify-content: center;
}

.nutzer {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  height: 220px;
  width: 220px;
  border-radius: 1000px;
  position: relative;
  transition: ease 0.2s;
  opacity: 100%;
}

.nutzer img {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 70px;
}

.nutzer svg {
  position: absolute;
  top: -1.5px;
  left: -2px;
}

.nutzer svg path {
  cursor: pointer;
  transition: ease 0.1s;
}

.nutzer svg path:hover {
  stroke: #F2DC66;
  filter: url(#upload);
}

.nutzer:hover {
  background: rgba(0, 0, 0, 0.2);
}

.nutzer:hover ~ .nutzer {
  opacity: 50%;
}

.button {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.button h2 {
  font-size: 15px;
}

.button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.overlay .dauer {
  text-align: center;
  position: fixed;
  top: 5%;
  left: 5%;
}

.overlay .objNav {
  display: flex;
  text-align: center;
  position: fixed;
  bottom: 10%;
  right: 50%;
  justify-content: space-between;
  width: 200px;
}

.overlay .objNav img {
  width: 5px;
  cursor: pointer;
}

.overlay .objNav img ~ img {
  width: 10px;
  cursor: pointer;
}

.overlay .objNav img ~ img ~ img {
  width: 15px;
  cursor: pointer;
}

.overlay .slider {
  position: fixed;
  background: transparent linear-gradient(157deg, #E2D9C7 0%, #CCCCB4 100%) 0% 0% no-repeat padding-box;
  width: 22%;
  height: 90vh;
  border-radius: 0px 20px 20px 0px;
  top: 0px;
  left: 0px;
  padding: 50px;
  display: none;
}

.overlay .slider div {
  margin-top: 15px;
  padding: 20px;
  background: linear-gradient(118deg, #403E38 0%, #373732 59%, #292824 100%);
  border-radius: 15px;
}

.overlay .slider div h2 {
  color: white;
}

.overlay .slider div img {
  width: 90%;
  padding: 20px;
}

.overlay .slider div .button {
  width: 65px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 10px 5px 10px;
  background: rgba(255, 255, 255, 0.05);
}

.overlay .slider div .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.overlay .slider .navSlider {
  background: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.overlay .slider .navSlider h2 {
  color: #2C2C28;
  margin-top: 20px;
}

.overlay .slider .navSlider #arrow {
  transform: rotate(180deg);
  cursor: pointer;
  width: 30px;
}
